### Introducción

En este notebook (script), exploraremos algunos de los conceptos fundamentales de Python para familiarizarnos con este lenguaje.


En cada notebook dedicaremos la celda inicial a la carga de librerías necesarias para la ejecución del script completo. Si necesitamos instalar algunas de ellas porque no estén disponibles en nuestro repositorio, las instalaremos y dejaremos indicado que hemos necesitado instalarlas. Esto servirá para la configuración del entorno de trabajo de futuros proyectos. :)

### Instalación de una nueva libreria (`numpy`):

In [2]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/vincenzo.germinara/.local/lib/python3.8/site-packages (1.24.4)
Note: you may need to restart the kernel to use updated packages.

### Carga de librerias utiles (`numpy` y `pandas`):

In [1]:
import numpy as np
import pandas as pd

### Función `print()`

In [11]:
print('Bienvenid@s al seminario!')

Bienvenid@s al seminario!

###  Estructuras de datos
En Python existen múltiples estructuras en las que almacenar objetos:
- **List:** una lista mutable de elementos.
- **Tuple:** una estructura de datos de solo lectura (inmutable).
- **Dictionary:** utiliza una estructura de pares clave-valor para organizar y acceder a datos.

In [1]:
# Lista
programas = ['Python', "R", "Java", "Julia" ]

In [2]:
# Acceder al primer elemento de la lista
print(programas[0])

Python

In [3]:
# Acceder al último elemento de la lista
print(programas[-1])

Julia

In [4]:
# Cambiar el valor del tercer elemento de la lista
programas[2]='C'
print(programas)

['Python', 'R', 'C', 'Julia']

In [5]:
# Tupla
tupla = ('Python', "R", "Java", "Julia" )
print(tupla)

('Python', 'R', 'Java', 'Julia')

In [8]:
# Intentar cambiar el valor del tercer elemento de la tupla
tupla[2]='C'
print(tupla)

TypeError: 'tuple' object does not support item assignment

In [6]:
# Diccionario
dic = {'a': 1, 'b': 2, 'c': 3}

In [7]:
# Acceder al valor de la clave "b"
print(dic['b'])

2

### Pandas DataFrame

**Pandas**: Es una de las librerías más populares de Python. Proporciona las herramientas y estructuras necesarias para manipular y analizar datos. La estructura básica de Pandas es el **DataFrame**, una colección ordenada de columnas con nombres y tipos, donde una sola fila representa un único caso (observación) y las columnas representan atributos particulares.

- Guía: https://pandas.pydata.org/docs/getting_started/index.html

In [4]:
# Crear un DataFrame desde un diccionario
data = {'Nombre': ['Alice', 'Bob', 'Charlie', "Fredo", "Victor", "Krzyzs", "Raul"],
        'Edad': [25, 30, 35, 28, 33, 38, 23],
        'Ciudad': ['A', 'B', 'C', 'O', 'O', "M", "L"]}

df = pd.DataFrame(data)

In [5]:
# Ver el DataFrame
print(df)

    Nombre  Edad Ciudad
0    Alice    25      A
1      Bob    30      B
2  Charlie    35      C
3    Fredo    28      O
4   Victor    33      O
5   Krzyzs    38      M
6     Raul    23      L

In [6]:
# Comprobar sus dimensiones
print('Dimensiones:', df.shape)

Dimensiones: (7, 3)

In [7]:
# Imprimir las primeras 5 filas
df.head()

    Nombre  Edad Ciudad
0    Alice    25      A
1      Bob    30      B
2  Charlie    35      C
3    Fredo    28      O
4   Victor    33      O

In [8]:
# Imprimir las ultimas 5 filas
df.tail()

    Nombre  Edad Ciudad
2  Charlie    35      C
3    Fredo    28      O
4   Victor    33      O
5   Krzyzs    38      M
6     Raul    23      L

In [9]:
# Seleccionar la columna Edad
df['Edad']

0    25
1    30
2    35
3    28
4    33
5    38
6    23
Name: Edad, dtype: int64

In [10]:
# Seleccionar el primer elemento
df.iloc[0]

Nombre    Alice
Edad         25
Ciudad        A
Name: 0, dtype: object

In [15]:
# Imprimir el nombre del 5º elemento
print(df.loc[4, "Nombre"])

Victor